.flex-container {
    
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-container .flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}