* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
    background: #EEE;
}
.quoteContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 40px auto;
    gap: 40px;
}
.quoteContainer article {
    display: flex;
    flex-wrap: wrap;
    background: white;
    padding: 20px;
    align-items: center;
    gap: 10px;
}
.leftArticle {
    flex: 0 0 calc( 70% - 20px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.leftArticle i {
    font-size: 40px;
}
.author {
    font-size: 1.2rem;
    font-weight: 800;
}
.rightArticle {
    flex-grow: 1;
}
.outerCircle {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    width: 100px;
    border-radius: 50%;
}
.innerCircle {
    background: green;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.leftQuotes {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 0 0 70%;
}
.rightQuotes {
    flex: 0 0 calc( 30% - 40px);
    flex-direction: column;
    display: flex;
}
.rightQuotes article {
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
}

@media (max-width: 1024px) {
    .quoteContainer > * {
        flex: 0 0 100%;
    }
    .rightArticle {
        order: 1;
    }
    .leftArticle {
        order: 2;
        flex: 0 0 100%;
    }
    .quoteContainer article {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .leftArticle > i {
        flex: 0 0 10%;
    }
    .leftArticle > p {
        flex: 0 0 calc(90% - 40px) ;
    }
    .leftArticle > p.author {
        flex: 0 0 100%;
    }
}