* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}

body {
    background: #EEE;
}
.container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    gap: 20px;
}
.gallery-item {
    flex: 0 0 calc( (100% / 3 ) - 20px  );
    border: 5px solid black;
    padding: 5px;
    background: #FFF;
}
figure {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

@media (max-width: 610px) {
    .container {
        justify-content: space-between;
    }
    figure > * {
        flex-basis: 100%;
    }
    .gallery-item {
        flex: 0 0 calc( (100% / 2 ) - 20px );
    }
    .gallery-item img {
        height: 150px;
        object-fit: cover;
    }
}

@media (max-width: 380px) {
    .gallery-item {
        flex: 0 0 100%;
    }
    .gallery-item img {
        height: 250px;
    }
}