.flex-container {
    display: flex;
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
}

.flex-container .flex-item {
    border: 2px solid black;
    padding: 20px;
    background: #eee;
}

.direction-row {
    flex-direction: row;
}

.direction-row-reverse {
    flex-direction: row-reverse;
}

.direction-column {
    flex-direction: column;
}

.direction-column-reverse {
    flex-direction: column-reverse;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}